<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthwindBoton.My.MySettings.DB_A6A533_northwindConnectionString"
            connectionString="Data Source=SQL5085.site4now.net;Initial Catalog=DB_A6A533_northwind;Persist Security Info=True;User ID=DB_A6A533_northwind_admin;Password=Ricardo51"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>